# .npmrc
# 1. 设置默认的 registry 为你的镜像源
registry=https://registry.npmmirror.com/

# 2. 为特定的 scope 设置官方 registry
# 假设 @my-org 和 @another-scope 这两个作用域下的包在镜像源中不存在
@node-ipc:registry=https://registry.npmjs.org/