name: Publish Extension
on:
    pull_request:
        types: [closed]
    workflow_dispatch:

env:
    GIT_REF: ${{ github.event_name == 'pull_request' && github.event.pull_request.head.sha || 'main' }}

jobs:
    get-version:
        runs-on: ubuntu-latest
        if: >
            ( github.event_name == 'pull_request' &&
            github.event.pull_request.base.ref == 'main' &&
            contains(github.event.pull_request.title, 'Changeset version bump') ) ||
            github.event_name == 'workflow_dispatch'
        outputs:
            version: ${{ steps.get-version.outputs.version }}
        steps:
            - name: Checkout code
              uses: actions/checkout@v4
              with:
                  ref: ${{ env.GIT_REF }}
            - name: Get version
              id: get-version
              run: |
                  current_package_version=$(node -p "require('./src/package.json').version")
                  echo "version=${current_package_version}" >> $GITHUB_OUTPUT
                  echo "Version: ${current_package_version}"

    publish:
        needs: get-version
        uses: ./.github/workflows/_build-and-publish.yml
        with:
            version: ${{ needs.get-version.outputs.version }}
            git_ref: ${{ github.event_name == 'pull_request' && github.event.pull_request.head.sha || 'main' }}
        secrets:
            POSTHOG_API_KEY: ${{ secrets.POSTHOG_API_KEY }}
            VSCE_TOKEN: ${{ secrets.VSCE_TOKEN }}
            OVSX_TOKEN: ${{ secrets.OVSX_TOKEN }}
            JETBRAINS_MARKETPLACE_TOKEN: ${{ secrets.JETBRAINS_MARKETPLACE_TOKEN }}
            GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
            TURBO_TOKEN: ${{ secrets.TURBO_TOKEN }}
            TURBO_TEAM: ${{ secrets.TURBO_TEAM }}
